* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
}

.container > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
}

.container button {
  padding: 0.75rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

#btn1 {
  background: black;
  color: white;
  border: 2px solid black;
  position: relative;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  z-index: 2;
}

#btn1::after {
  content: "Hover Me";
  position: absolute;
  inset: 0;
  background: black;
  border: 2px solid black;
  z-index: 1;
  transition: transform 0.3s ease;
}

#btn1:hover,
#btn1:focus {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transform: translate(-6px, -6px);
}

#btn1:hover::after,
#btn1:focus::after {
  transform: translate(6px, 6px);
}

#btn2 {
  background: black;
  color: white;
  border: 2px solid black;
  position: relative;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  z-index: 2;
}

#btn2::after {
  content: "Hover me";
  position: absolute;
  inset: 0;
  background: black;
  border: 2px solid black;
  z-index: 1;
  transition: transform 0.3s ease;
}

#btn2:hover,
#btn2:focus {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 247, 247);
  transform: translate(-6px, -6px);
}

#btn2:hover::after,
#btn2:focus::after {
  transform: translate(6px, 6px);
}


#btn3 {
  background: green;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

#btn3:hover {
  background-color: #0c7c0c;
}

#shape1 {
  width: 200px;
  height: 200px;
  background: #ddd;
  position: relative;
  transition: background 0.4s ease;
}

#shape1::before {
  content: "Hello!";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s ease;
  font-weight: bold;
}

#shape1:hover {
  background: yellow;
}

#shape1:hover::before {
  opacity: 1;
}

#shape2 {
  width: 100px;
  height: 100px;
  background: orange;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); 
  animation: moveShape 8s linear infinite;
  transition: transform 0.5s ease;

}

@keyframes moveShape {
  0% {
    top: 0;
    left: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); 
  }
  25% {
    top: 0;
    left: calc(100% - 100px);
    clip-path: circle(50% at 50% 50%); 
  }
  50% {
    top: calc(100% - 100px);
    left: calc(100% - 100px);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); 
  }
  75% {
    top: calc(100% - 100px);
    left: 0;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); 
  }
  100% {
    top: 0;
    left: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); 
  }
}


#figure1 {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

#figure1 img {
  display: block;
  width: 100%;
  transition: filter 0.5s ease;
}

#figure1 figcaption {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: pink;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  transition: bottom 0.5s ease;
}

 #figure1:hover img {
  filter: grayscale(100%);
}

#figure1:hover figcaption {
  bottom: 0;
}
